/* Centering the form box */
.form-box {
  width: 350px; 
  padding: 20px; 
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f4f4f4; 
}


.input-name, .ant-input, .ant-input-password {
  border-radius: 20px !important;
}

.buttonset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  
}


.buttonset .ant-btn {
  width: 100%;
}
